@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ background: #0F0F0F;font-family: "Poppins", sans-serif;}




/*----------------Home CSS-----------------*/
.header {
	box-shadow: 0px 2px 10px rgba(0,0,0,10%);
	border-bottom: 1px solid #333;
}
.navbar-brand {
	color: #fff;
}
.navbar{ padding: 0;}
.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 14px;
	color: #BCBCBCD7;
	padding: 20px 15px;
	line-height: 20px;
	position: relative;
}

.navbar-toggler {
	padding: 4px 10px;
	border-radius: 4px;
}
.navbar-toggler:focus{ box-shadow: none;}
.navbar-expand-lg .navbar-nav .nav-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #fff, transparent);
	background-size: 300% 100%;
	opacity: 0;
	transition: opacity 0.5s;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link:hover,.navbar-expand-lg .navbar-nav .nav-link.active {
	color: #fff;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link:hover::after, .navbar-expand-lg .navbar-nav .nav-link.active::after{
	opacity: 1;
	animation: shimmer111 2s linear infinite;
  }
  
  @keyframes shimmer111 {
	0% {
	  background-position: 200% 0;
	}
	100% {
	  background-position: -200% 0;
	}
  }
   .login_btn {
	padding: 8px 25px;
	background: #323232;
	font-size: 14px;
	border-radius: 100px;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 0;
	text-decoration: none;
}
.login_btn:hover{color: #eee;}
 
.login_btn::after {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: linear-gradient(90deg, #f58220, #ff1e00, #fdb913);
	background-size: 600%;
	z-index: -1;
	opacity: 0;
	transition: opacity .3s;
	animation: gradient 2s infinite linear;
 }
 
 .login_btn:hover::after {
	opacity: 1;
 }

.port_col{ padding: 25px; 
	border-radius: 30px; 
	border: 1px solid #333; 
	box-shadow: 0px 2px 10px rgba(0,0,0,10%); 
	background:#161616;
    

}
.port_col:hover .change-my-color{
    fill:#f00;
}
.e-con-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 25px 15px;
	position: relative;
}
.e-full-img {
	width: 45%;
	border-radius: 30px;
	background: linear-gradient(90deg, #ff0062, #f58220, #ff1e00);
}
.e-full-img img{ width: 100%;}
.e-full-text {
	width: 55%;
	border-radius: 30px;
	color: #fff;
}
.e-full-text span{
	color: #BCBCBCD7;
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.35em;
	letter-spacing: 0.3px;
}
.e-full-text h4{
	color: var( --e-global-color-648ea67 );
	font-family: "Poppins", Sans-serif;
	font-size: 34px;
	font-weight: 500;
	line-height: 1.1em;
}
 .e-con-inner .icon { position: absolute; right: 0; bottom: 0;}
 .port_col .open_work {
    color: #9F9F9F;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.trm{ overflow: hidden; padding: 0 30px;}
 .port_col .open_work {
    white-space: nowrap;
    will-change: transform;
    margin: 0;
    display: block;
    animation: marquee 10s linear infinite;
	
}
.tital_img{ height: 115px; margin-bottom: 10px;}
.tital_img img{ width: 100%;}
.tital_inner_col {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    padding: 0px;
    position: relative;
}
.tital-text span {
    color: #BCBCBC80;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
}
.tital-text h4 {
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
	margin-bottom: 0;
}
.tital-text h2 {
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.2em;
}

.tital-text h2 > span {
    color: #C1F11F;
    padding: 0px 0px 0px 0px;
	font-size: 44px;
    font-weight: 500;
    line-height: 1.2em;
	text-transform: capitalize;
}
.tital_img_icon {
    margin-top: -25px;
    margin-bottom: 8px;
}
.exp_inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.exp_box {
    width: 100%;
    background: #242424;
    border-radius: 30px;
    border: 1px solid #333;
	text-align: center;
	padding: 37px;
}
.exp_box h4 {
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -1px;
}
.exp_box span {
    color: #BCBCBC80;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 0px;
}
.pro_col{
	border-radius: 30px;
    border: 1px solid #333;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	background: #121212;
	margin-bottom: 10px;
}
.pro_circle {
    background: #2A2A2A;
    border: 1px solid #404040;
    border-radius: 50px;
    padding: 15px;
	color: #fff;
    width: 75px;
    height: 75px;
    font-size: 30px;
}
.pro_circle:hover{ background: #fff; color: #2A2A2A;}
.pro_circle path{ fill:#fff;}
.pro_circle:hover path{ fill: #000;}
.core_col{
	text-align: center;
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: 20px;
	margin-bottom: 10px;
}
.core_icon{
    padding: 7px;
	color: #fff;
	font-size: 40px;
}
.down_img {
    width: 100%;
    height: 115px;
    text-align: center;
    margin-bottom: 9px;
}
.down_img img {
    height: 100%;
}
.core_icon {
    padding: 7px;
    color: #fff;

}
.core_icon img {
    width: 40px;
    height: 40px;
}
 @keyframes marquee {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(-100%);
   }
 }
 @keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
 }
.footer {
	width: 100%;
	text-align: center;
	padding: 9px;
	border-top: 1px solid #333;
}
.footer p {
	color: #BCBCBCD7;
	font-size: 14px;
    margin: 0;
}
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}


.middle_sec {
	padding: 60px 0;
	min-height: calc(100vh - 104px);
}
 .main_heading{ font-size: 28px; font-weight: 600; color:#000; margin-bottom: 20px;}
 


/* ----------About-------------- */
.abt-img {
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff0062, #f58220, #ff1e00);
}
.abt-img img{ width: 100%;}

.self_summary h2 {
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 74px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: -1px;
}
.tital-text p{ color: #fff;}

.ex_heading{
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
	
}
.ex_bx {
    margin-top: 25px;
}
.date{
    color: #BCBCBC99;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2em;
	margin-bottom: 10px;
}
.experience {
    color: #FFFFFFE6;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
	margin-bottom: 5px;
}
.comp_name{
    color: #BCBCBC99;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
}

/* ----------Credentials-------------- */
.user_name{ margin: 30px 0; text-align: center;}
.user_name h2{
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2em;
}
.user_name p {
    color: #BCBCBC7A;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.social_icon{ display: flex; justify-content: center; align-items: center; gap:15px}
.social_circle {
    background: #2A2A2A;
    border: 1px solid #404040;
    border-radius: 50px;
    padding: 10px 15px;
    color: #fff;
	width: 50px;
	height: 50px;
	font-size: 20px;
}
.social_circle:hover{ background: #fff; color: #000;}
.contact_btn {
    padding: 10px 25px;
    background: #323232;
    font-size: 16px;
    border-radius: 100px;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.contact_btn:hover{color: #eee;}
 
.contact_btn::after {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: linear-gradient(90deg, #f58220, #ff1e00, #fdb913);
	background-size: 600%;
	z-index: -1;
	opacity: 0;
	transition: opacity .3s;
	animation: gradient 2s infinite linear;
 }
 
 .contact_btn:hover::after {
	opacity: 1;
 }

 .credAbt_col{ padding-left: 30px;}
.cred_col{ display: grid; grid-template-columns: 50% 1fr; gap: 15px;}
.cred_para{ margin-bottom: 30px;}
.cred_para p{
	 color: #BCBCBC99;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.cred_bx{ 
padding: 20px; 
	border-radius: 20px; 
	border: 1px solid #333; 
	box-shadow: 0px 2px 10px rgba(0,0,0,10%); 
	background:#242424;}
.cred_bx h3{
    color: #FFFFFFE6;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.cred_bx p {
    color: #BCBCBC99;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
	margin-bottom: 0;
}


.expertise h2 {
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: -1px;
}

.cred_bx h4 {
    color: #BCBCBC9C;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.cred_bx .epr{
    color: #FFFFFFB8;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.expert_menu {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #333;
    box-shadow: 0px 2px 10px rgba(0,0,0,10%);
    background: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 15px;
}
.expert_menu h3{
	margin: 0;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}
    .left_side{

  position: sticky;
  top: 5%;
}



.main_head {
	font-size: 54px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 20px;
}

.pro_column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.pro_item{
	padding: 25px;
	border-radius: 30px;
	border: 1px solid #333;
	box-shadow: 0px 2px 10px rgba(0,0,0,10%);
	background: #161616;
}
.pro_img {
	
	margin-bottom: 10px;
}
.pro_inner_col {
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 20px;
	padding: 0px;
	position: relative;
}
.pro-text span {
	color: #BCBCBC80;
	font-family: "Poppins", Sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.2em;
}
.pro-text h4 {
	color: #fff;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 0;
}
.pro_img img{ width: 100%; height: 100%; object-fit: cover; border-radius: 20px;}
.change-my-color{ width: 46px; height: 42px;}
.port_col:hover .change-my-color,.pro_item:hover .change-my-color {  
  filter: drop-shadow(0px 1000px 0 #fff);
  transform: translateY(-1000px);
}
.tital_img_icon{ overflow: hidden;}
.port_col:hover .change-color{  
  filter: drop-shadow(0px 1000px 0 #C1F11F);
  transform: translateY(-1000px);
}

.contact_form .form-group{ 
    margin-bottom: 20px;
}
.contact_form .form-group .form-control,.btn-secondary{
    background: #323232;
    border:none;
    padding: 15px;
    color: #ccc;
    font-size: 15px;
    border-radius: 10px;
}
.contact_form .form-group .form-control::placeholder{
    color: #BCBCBCD7;
}
.contact_form .btn-secondary{
    background: #323232;
    border:none;
    padding: 12px 25px;
    color: #ccc;
    font-size: 15px;
    border-radius: 10px;
}
.more_info{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px
}
.cont_info h4{
	color: #fff;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.2em;
    padding-bottom: 25px;
    margin-bottom: 0;
}
.info_icon{
    padding: 20px;
    background-color: #181818;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 24px;
}
.info_text h4{
    margin-bottom: 0;
    padding: 0;
}
.info_text h4 a {
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2px;
    color: #BCBCBCD7;
    text-decoration: none;
}
.info_text p {
	color: #FFFFFFCC;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6em;
    margin-bottom: 0;
}
.pro_cols {
	text-align: center;
	display: flex;
    gap: 20px;
}



@media only screen and (max-width: 1200px) {
	.login_main .link_wrap {
		grid-template-columns: auto auto auto auto auto 1fr;
	}
}
@media only screen and (max-width: 1050px) {
	.navbar-expand-lg .navbar-nav .nav-link{
		padding: 15px 10px;
	}

}

@media only screen and (max-width: 991px) {
	.portal_name.mobile{ display: block;}
	.portal_name{ display: none;}
	.navbar{ padding: 10px 0;}
  }
@media only screen and (max-width:768px) {
	.login_main .link_wrap {
		grid-template-columns: auto auto auto 1fr;
	}
  }
@media only screen and (max-width: 600px) {
	.login_main .link_wrap {
		grid-template-columns: auto auto 1fr;
	}
  }
@media only screen and (max-width: 450px) {
	.login_main .link_wrap {
		grid-template-columns: auto 1fr;
	}
	.portal_name h4 {
		font-size: 18px;
	}
	.main_heading {
		font-size: 22px;
	}
  }
  
  
<!-------------Profile------------------>

